<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}Template - MyBlog{% endblock %}</title>
        {% block style %}{% endblock %}
    {% endblock %}
</head>
<body>
<nav>
    <h1>MyBlog</h1>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
    </ul>
</nav>
<main>
    {% for message in get_flashed_message() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</main>
<footer>
    {% block footer %}{% endblock %}
</footer>
{% block script %}{% endblock %}
</body>
</html>