{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Login{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.csrf_token }}
        {{ form.username.label }}{{ form.username }}<br>
        {% for message in form.username.errors %}
            <small class="error">{{ message }}</small>
        {% endfor %}
        {{ form.password.label }}{{ form.password }}<br>
        {% for message in form.password.errors %}
            <small class="error">{{ message }}</small>
        {% endfor %}
        {{ form.remember }}{{ form.remember.label }}<br>
        {{ form.submit }}<br>
    </form>
{% endblock %}
