{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Create{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.csrf_token }}
        {{ form.title.label }}{{ form.title }}<br>
        {% for message in form.title.errors %}
            <small class="error">{{ message }}</small>
        {% endfor %}
        {{ form.body.label }}{{ form.body }}<br>
        {% for message in form.body.errors %}
            <small class="error">{{ message }}</small>
        {% endfor %}
        {{ form.submit }}<br>
    </form>
{% endblock %}