{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Create{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form1.csrf_token }}
        {{ form1.title.label }}{{ form1.title }}<br>
        {% for message in form1.title.errors %}
            <small class="error">{{ message }}</small>
        {% endfor %}
        {{ form1.body.label }}{{ form1.body }}<br>
        {% for message in form1.body.errors %}
            <small class="error">{{ message }}</small>
        {% endfor %}
        {{ form1.submit }}<br>
    </form>
    <hr>
    <form action="{{ url_for('blog.delete', id=post.id) }}" method="post">
        {{ form2.csrf_token }}
        {{ form2.submit }}
    </form>
{% endblock %}